.ICEauthority
.VirtualBox/
.bash_history
.bash_logout
.cache/
.dbus/
.eclipse/
.esd_auth
.gem/
.gnupg/
.gstreamer-0.10/
.java/
.lesshst
.m2/
.mnt/
.mozilla/
.nga/
.pki/
.purple/
.scripts/init/
.scripts/portal-sync/
.sqldeveloper/
.ssh/
.subversion/
.vagrant.d/
.viminfo
.wine/
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
Pictures/
VirtualBox VMs/
oradiag_apaz/
workspace/
