#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Paz Environment MATE Startup
Type=Application
Exec=/bin/bash -c "$HOME/.scripts/env.d/$PAZENV/mate/autostart.sh"
Terminal=false
Icon=gnome-do
Comment=PAZ AUTOSTART
Categories=Utility;
X-Desktop-File-Install-Version=0.21
Hidden=false
